.example-card {
  max-width: 400px;
  margin: 8px;
  background-color: #f0f0f0;
}

.example-header-image {
  margin-left: 8px;
  margin-top: 8px;
  img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }
}

.description {
  height: 92px;
}

mat-card-actions {
  padding-top:0;
  text-align: center;
}

button:hover {
  color:#e6a203;
}
